html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* .react-flow__node.selected {
  background-color: #43e3e8;
} */

.react-flow__edge.selected .react-flow__edge-path {
  stroke-width: 2px;
}

.react-flow__panel {
  z-index: 6;
}